.container{
    align-items: center;
    color: green;
    justify-items: center;
    font-family: cursive;
}
.task-card{

    
    color:Red;
    font-family:sans-serif;
    font-weight: bold;
    font-size:large;
    display: flex;
    flex-direction: column;
        align-items: center;
    justify-items: center;
}
.task-card button{
    background-color: grey;
    border: 2px solid rgb(21, 21, 22);
    color:rgb(2, 54, 6);
    border-radius: 5px;
    display: inline-block;

}
